body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #0a2240;
    color: #e6f2fa;
}

header.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a2240;
    padding: 2rem 5vw 2rem 5vw;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 0;
    position: relative;
}

.hero-content {
    max-width: 50vw;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
}

.hero h1 .light {
    color: #e6f2fa;
    font-weight: 400;
}

.hero h1 .accent {
    color: #4ed0e0;
    font-weight: 700;
    margin-left: 0.5rem;
}

.author-link {
    color: #e6f2fa;
    text-decoration: underline;
}

.subtitle {
    color: #4ed0e0;
    font-size: 1.1rem;
    margin: 0.5rem 0 1.5rem 0;
}

.authors {
    color: #e6f2fa;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.hero-logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
    object-fit: cover;
    border: 8px solid #0a2240;
}

main {
    /* max-width: 900px; */
    margin: 2rem auto;
    padding: 0 2vw;
}

section {
    background: #13325c;
    border-radius: 24px;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

section h2 {
    color: #4ed0e0;
    margin-top: 0;
    font-size: 2rem;
}

.subsection {
    color: #4ed0e0;
    margin-top: 0;
    font-size: 1.5rem;
}

.github-link {
    color: #4ed0e0;
    text-decoration: underline;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 0.2em 0;
    background: #4ed0e0;
    color: #0a2240;
    font-weight: 600;
    margin-top: 2rem;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.image {
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.image-big {
    width: 100%;
    max-height: 800px;
    object-fit: contain;
}

.main-nav {
    width: 100%;
    background: #13325c;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}


@media (max-width: 900px) {
    .hero-content { max-width: 100vw; }
    header.hero { flex-direction: column; align-items: center; }
    .hero-logo img { width: 200px;
        height: auto; }
    
}
